@import '/src/scss/animations';
@import '/src/scss/mixins';

.add-new-wishlist {
	&__add-new-list {
		@include wishlistCardItem();
		@include fadeIn();

		&__textarea {
			@include wishlistCardItemTextArea();
			padding: 5px 0;
			background-color: #232F3E;
			border-radius: 6px;
		}

		&__textarea[contenteditable]:empty::before {
			content: "Nueva lista";
			color: #c9c9c9;
		}

		&__color-select {
			display: grid;
			place-content: center;
			padding: 25px 0;
		}

		&__add-button {
			position: relative;
			bottom: 0px !important;
			display: flex;
			justify-content: center;
			margin: 0 auto;

			svg {
				width: 40px;
				height: 40px;
				color: #5b5b5b;
				font-weight: 500;
				cursor: crosshair;
			}
		}
	}
}