	.wishlist-card-body {
		height: 250px;
		cursor: pointer;

		&__item {
			display: flex;
			align-items: center;
			margin: 5px 8px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 0.8rem;
			color: #383838;

			span {
				padding: 3px;
			}
		}

		&__items-completed {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px;
			margin: 0 auto;
			margin-bottom: 13px;
			padding: 2px 4px;
			position: relative;
			top: 8px;
			background-color: rgb(222, 222, 222);
			font-size: 0.7rem;
			border: 1px solid #c7c7c7;
			border-radius: 10px;
			color: #3e3e3e;
			font-weight: 500;
			box-shadow: 0px 0px 3px 1px #a5a5a52a;
		}

		&__empty-list {
			text-align: center;
			padding-top: 20px;
			font-size: 0.9rem;
			font-weight: 500;
			color: #424242;
		}
	}