@import '/src/scss/animations';
@import '/src/scss/variables';
@import '/src/scss/mixins';

.wishlists-component {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
	margin-bottom: 100px;
	max-width: 1500px;

	@media (max-width: $media-breakpoint-down-sm) {
		padding: 0;
	}

	&__filters {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 40px;
		margin: 10px 0;


		@media (max-width: $media-breakpoint-down-xs) {
			padding: 0;
		}

		@media (max-width: $media-breakpoint-down-sm) {
			padding: 0 10px;
		}

		@media (max-width: $media-breakpoint-down-md) {
			padding: 0 15px;
		}

		&--left-side {
			display: flex;
			align-items: center;

			&__select {
				padding: 10px;

				@media (max-width: $media-breakpoint-down-sm) {
					padding-left: 0;
				}

				select {
					height: auto;
					font-size: .95rem;
					padding: 6px;
					background-color: $background-primary-light;
					color: #fff;
					box-shadow: $shadow-elevation-medium;
					border: 1px solid transparent;
					border-radius: 5px;
					outline-color: transparent;
					cursor: pointer;
					appearance: none;

					&::after {
						border-radius: 10px;
					}
				}

				select::-ms-expand {
					display: none !important;
				}
			}

			&__view-direction {
				padding-top: 5px;

				svg {
					color: $color-primary-light;
					font-size: 1.4rem;
					cursor: pointer;
				}
			}
		}

		&--right-side {
			svg {
				color: $color-primary-light;
				font-size: 1.8rem;
				margin-right: 10px;
				cursor: pointer;
			}
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__add-item-mobile {
		position: fixed;
		bottom: 70px;
		right: 20px;

		svg {
			font-size: 3rem;
			color: #FFC271;
			background-color: #fff;
			box-shadow: $shadow-elevation-high;
			border-radius: 50%;
			outline: none;
			padding: 0px !important;
			margin: 0;
			border: 2px solid #FFC271;
		}

		@media (min-width: $media-breakpoint-down-md) {
			display: none;
		}
	}

	&__add-item-desktop {
		@media (max-width: $media-breakpoint-down-md) {
			display: none;
		}
	}

	&__spinner {
		display: grid;
		place-content: center;
		height: 50vh;
	}
}