@import '../../../scss/variables';
@import '../../../scss/animations';

.wishlist-component {
  max-width: 570px;
  margin: 0 auto;

  &__home-link {
    position: sticky;
    top: 122px;
    left: 5px !important;

    a {
      svg {
        color: $background-primary-light;
        width: 30px;
        height: 30px;
      }
    }

    @media (max-width: 500px) {
      top: 100px;
      padding-left: 10px;
    }
  }

  &__top-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    &--wishlist-title {
      text-align: center;

      h2 {
        min-width: 300px;
        max-width: 450px;
        padding: 15px;
        margin: 0 40px;
        border-radius: 5rem !important;
        font-size: 1.2rem;
      }
    }

    &--select-status {
      display: flex;
      margin-top: 30px;
      box-shadow: $shadow-elevation-medium;
      border-radius: 7px;

      select {
        z-index: 0 !important;
        position: absolute;
      }

      &::after {
        z-index: 0;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
    border-radius: 8px;
  }

  &__empty-list-msg {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    @include fadeIn(400ms);
  }

  &__spinner {
    height: 50vh;
    display: grid;
    place-content: center;
  }
}