@import '../../../scss/variables';
@import '../../../scss/animations';

.wishlist-component {
  max-width: 600px;
  margin: 0 auto;

  &__home-link {
    position: sticky;
    top: 166px;
    left: 15px;
    padding-left: 5px;

    a {
      svg {
        color: $background-primary-light;
        width: 30px;
        height: 30px;
      }
    }

    @media (max-width: 500px) {
      top: 145px
    }
  }

  &__wishlist-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
    margin-bottom: -20px;

    h2 {
      width: auto;
      min-width: 250px;
      max-width: 450px;
      padding: 15px;
      margin: 0 40px;
      border-radius: 5rem !important;
      font-size: 1.2rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 8px;
  }

  &__empty-list-msg {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    @include fadeIn(400ms);
  }

  &__spinner {
    height: 50vh;
    display: grid;
    place-content: center;

  }
}