  .status-bar {
  	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	align-items: center;
  	background-color: #232F3E;
  	height: 35px;

  	&__nav {
  		display: flex;
  		align-items: center;
  		cursor: pointer;

  		&--button {
  			display: flex;
  			justify-content: center;
  			text-align: center;
  			padding: 0px 10px;
  			border: 0;
  			color: #fff;
  			background-color: #232F3E;
  			font-size: 1rem;
  			width: 120px;
  			margin-top: 5px;
  			padding-top: 8px;
  			cursor: pointer;
  		}

  		&--items-count {
  			position: relative;
  			right: -107px;
  			top: -41px;
  			display: flex;
  			justify-content: center;
  			align-items: center;
  			color: #fff;
  			color: #ffc271;
  			background-color: #707070;
  			width: 20px !important;
  			height: 20px !important;
  			border-radius: 50%;
  			font-size: 0.9rem;
  			font-weight: 600;
  			opacity: 0;
  			padding: 1px;
  		}

  		a {
  			text-decoration: none;
  		}

  		a.active {
  			button {
  				color: #000;
  				background-color: #fff;
  				border-top-left-radius: 3px;
  				border-top-right-radius: 3px;
  				position: relative;
  				padding: 8px;
  				padding-bottom: 21px;
  				top: 12px !important
  			}

  			.status-bar__nav--items-count {
  				opacity: 1;
  			}
  		}
  	}
  }