.header-wishlist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #232F3E;
  box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.75);
  min-height: 100px;

  &__authentication {
    position: absolute;
    top: 10px;
    right: 5px;
    color: #fff;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    font-weight: 500;

    &--profile-image {
      img {
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    p {
      margin: 5px;
      padding: 0;
      cursor: pointer;
    }

    &--popover {
      position: absolute;
      right: 14px;
      top: 53px;
      width: 160px;
      height: 150px;
      background-color: #fff;
      color: #000;
      border-radius: 6px;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);

      &::before {
        position: absolute;
        z-index: 0;
        content: "";
        top: -8px;
        right: 3px;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #fff transparent;
        transition-duration: 0.3s;
        transition-property: transform;
      }

      &__logout {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // align-content: flex-end;
        height: 100%;

        button {
          margin: 0 auto;
          display: flex;
          align-items: center;
          border: none;
          background-color: transparent;
          font-size: 1rem;
          padding: 5px 0;
          cursor: pointer
        }

        svg {
          font-size: 1.5rem;
          padding-left: 5px;
        }

      }
    }
  }

  &__title {
    color: #fff;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
}