.header-wishlist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 85px;
  text-align: center;
  padding: 0 10px;
  background-color: #232F3E;
  box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.75);
  font-size: 0.9rem;
  z-index: 10;

  &__title {
    color: #fff;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
  }
}