.wishlist-card-footer {
	position: absolute;
	background-color: #c1c1c1;
	width: 200px;
	height: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	box-shadow: 0px -3px 10px 5px #eeeeee;
	z-index: 2 !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	&__popover {
		position: absolute;
		bottom: 25px;
		left: 10px;
		background-color: #ffffff;
		color: #fff;
		z-index: 10000 !important;
		width: 180px;
		padding: 5px;
		border-radius: 5px;
		box-shadow: 0px 0px 15px 1px #c6c6c693;

		&::before {
			position: absolute;
			z-index: -1;
			content: "";
			top: 104px;
			left: 3px;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: #fff transparent transparent transparent;
			transition-duration: 0.3s;
			transition-property: transform;
		}

		&--color-select {
			border-bottom: 1px solid #d7d7d7;
			margin-bottom: 5px;
		}

		&--remove-list {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #000;
			cursor: pointer;
			width: 110px;
			margin: 0 auto;

			span {
				padding: 3px;
				font-size: 0.8rem;
			}

			svg {
				color: #FF2626
			}
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	&__last-modified {
		font-size: 0.6rem;
	}

	&__go-to-list {
		display: flex;
		align-items: center;
		color: #000;
		font-size: 1rem;
		cursor: pointer;
	}
}