@import '../../../../scss/variables';
@import '../../../../scss/animations';

.wishlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 60px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(221, 221, 221, 0.244);
  box-shadow: $shadow-elevation-medium;
  transition: all 0.3s ease;

  &__title {
    display: flex;
    align-items: center;
    margin-top: 2px;
    width: 100%;

    svg {
      font-size: 1.1rem;
      width: 50px;
      height: 60px;
      padding-top: 22px;
      padding-bottom: 22px;
    }

    input {
      color: #525252;
      background-color: transparent;
      font-size: 1.10rem;
      width: 95%;
      border: 0;
      font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
      outline: none;
      text-overflow: ellipsis;
    }
  }

  &__check-delete {
    display: flex;
    align-items: center;

    &--trash {
      color: #B20000;
      font-size: 1.4rem;
      cursor: pointer;
      opacity: 0;
    }

    &--checkbox-container {
      padding: 10px;
      padding-left: 15px;

      &__label {
        font-size: 1em;
        cursor: pointer;

        &--input {
          display: none;

          &:checked~span {
            box-shadow: $shadow-elevation-medium;
          }

          &:checked~span:after {
            opacity: 1;
          }

          &__checkbox {
            display: inline-block;
            position: relative;
            height: 1.6em;
            width: 1.6em;
            background-color: #fff;
            border-radius: 50%;
            transition: all 0.4s;
            border: 1px solid #a2a2a2;
            font-size: 0.8rem;

            &:after {
              content: "";
              position: absolute;
              border: solid #232F3E;
              border-width: 0 0.250em 0.25em 0;
              transform: rotate(45deg);
              width: 0.40em;
              height: 0.80em;
              left: 0.5em;
              top: 0.20em;
              opacity: 0;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }

  &:hover {
    .wishlist-item__check-delete--trash {
      opacity: 1;
      @include fadeIn(400ms);
    }
  }
}

.wishlist-item-checked {
  background-color: rgba(143, 143, 143, 0.1) !important;
  transition: all 0.1s ease-in;

  .wishlist-item__title {
    span {
      color: rgb(136, 136, 136)
    }
  }
}