@import '../../../../scss/animations';

.post-new-item-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 530px;
  padding-top: 35px;
  margin-bottom: 30vw;
  @include fadeIn();
}