@import 'src/scss/variables';

.color-picker-wishlist-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: auto;
	background-color: #fff;
	padding: 0;
	border-radius: 3px;

	&__colors-used {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
		padding: 20px 0;
		max-width: 200px;

		button {
			width: 30px;
			height: 30px;
			border: 0;
			border-radius: 6px;
			box-shadow: $shadow-elevation-medium;
			cursor: pointer;

			&:hover {
				box-shadow: $shadow-elevation-high;
			}
		}
	}

	&__empty-colors-msg {
		font-size: .9rem;
	}
}