	@import '/src/scss/mixins';

	.wishlist-card-header {
		background-color: #232f3e93;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;

		&__textarea {
			display: flex;
			align-items: center;
			@include wishlistCardItemTextArea();
			padding: 5px 0;
		}

		&__textarea[contenteditable]:empty::before {
			content: "Nombre de la lista";
			color: rgb(218, 218, 218);
		}
	}