  :root {
    --shadow-color: 0deg 0% 72%;
  }

  $background-primary: #232F3E;
  $background-primary-light: #232f3eca;
  $background-primary-extra-light: #232f3e33;
  $background-light: #F5F5F5;
  $background-secondary: #FFC271;
  $color-primary: #232F3E;
  $color-primary-light: #232f3eca;

  $shadow-elevation-low: 0px 0.3px 0.5px hsl(var(--shadow-color) / 0),
    -0.1px 0.8px 1.2px hsl(var(--shadow-color) / 0.1),
    -0.1px 1.7px 2.6px hsl(var(--shadow-color) / 0.21);
  $shadow-elevation-medium: 0px 0.3px 0.5px hsl(var(--shadow-color) / 0),
    -0.1px 1.6px 2.4px hsl(var(--shadow-color) / 0.05),
    -0.2px 2.9px 4.4px hsl(var(--shadow-color) / 0.11),
    -0.3px 4.9px 7.4px hsl(var(--shadow-color) / 0.16),
    -0.6px 8.5px 12.8px hsl(var(--shadow-color) / 0.21);
  $shadow-elevation-high: 0px 0.3px 0.5px hsl(var(--shadow-color) / 0),
    -0.3px 4.1px 6.2px hsl(var(--shadow-color) / 0.06),
    -0.5px 7.4px 11.1px hsl(var(--shadow-color) / 0.15),
    -0.7px 10.6px 15.9px hsl(var(--shadow-color) / 0.2),
    -1px 14.1px 21.2px hsl(var(--shadow-color) / 0.25),
    -1.6px 18.3px 27.5px hsl(var(--shadow-color) / 0.28);

  // Responsesive down size
  $media-breakpoint-down-xs: 413.98px;
  $media-breakpoint-down-sm: 573.98px;
  $media-breakpoint-down-md: 767.98px;
  $media-breakpoint-down-lg: 991.98px;
  $media-breakpoint-down-xl: 1199.98px;
  $media-breakpoint-down-xxl: 1699.98px;

  // Responsive up size
  $media-breakpoint-up-xs: 320px;
  $media-breakpoint-up-sm: 975px;
  $media-breakpoint-up-md: 1175px;
  $media-breakpoint-up-lg: 1475px;
  $media-breakpoint-up-xl: 1600px;
  $media-breakpoint-up-xxl: 1800px;